@import '../../../styles/colors.scss';
@import '../../../styles/constants.scss';

.item {
  border-radius: 5px;
}

.link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.item-green {
  &:hover {
    background: lighten(#00d7a1, 52%);
  }
}

.item-blue {
  &:hover {
    background: lighten(#31ace3, 42%);
  }
}

.item-pink {
  &:hover {
    background: lighten(#ef5288, 35%);
  }
}

.icon-wrap {
  flex-basis: $iconWidth;
}

.title {
  display: block;
  margin-bottom: 7px;
  font-size: 22px;
  color: #131313;
}

.content-wrap {
  flex: 1;
  padding: 0 15px;
  color: #a4a4a4;
}

.category {
  display: flex;
  float: left;
  align-items: center;
}

.delimeter {
  display: inline-block;
  width: 17px;
  text-align: center;
}

.content {
  line-height: 22px;
}

.date-wrap {
  font-size: 22px;
  color: #a4a4a4;
  text-align: right;
}

.item-green .date-wrap {
  color: #00d7a1;
}

.item-blue .date-wrap {
  color: #31ace3;
}

.item-pink .date-wrap {
  color: #ef5288;
}