.svg {
  display: inline-block;
  padding: 10px;
  text-align: center;
  border-radius: 100%;

  &.green {
    background: #00d7a1;
  }

  &.blue {
    background: #31ace3;
  }

  &.pink {
    background: #ef5288;
  }
}

.svg-icon {
  float: left;
}
