@import '../../../styles/colors.scss';
@import '../../../styles/constants.scss';

.select-wrap {
  display: flex;
  flex-basis: calc(50% - 10px);
  justify-content: space-between;
}

.date {
  flex-basis: calc(40% - 5px);
}

.hours {
  flex-basis: calc(30% - 5px);
}

.minutes {
  flex-basis: calc(30% - 5px);
}
