@import '../../../styles/colors.scss';
@import '../../../styles/constants.scss';

.form-wrap {
  display: flex;
  flex-direction: column;
  background: $mainWhite;
  border-radius: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  color: #999cad;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.header {
  flex-basis: 100%;
  padding: 30px 30px 0;
}

.content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 0 30px 20px;
}

.footer {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px 30px;
  background: #f0f0f0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
