@import '../../../../../styles/colors.scss';
@import '../../../../../styles/constants.scss';

.container {
  display: flex;
}

.header {
  display: flex;
  background: url("../../../../../../resources/images/pattern.svg") bottom right $mainBlue-1;
  background-size: cover;
}

.welcome {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  padding: 20px 0;
}

.name {
  margin-bottom: 15px;
  font-weight: 100;
  font-size: 40px;
  color: #fff;
}

.statistics {
  flex: 1;
  background: rgba(0, 0, 0, .15);
}

.statistics-padding {
  padding: 50px 30px;
}

.categories-list {
  display: flex;
  margin-bottom: 15px;
}

.categories-list-item-link {
  text-decoration: none;
}

.category-total {
  margin-bottom: 5px;

  font-size: 26px;
}

.category-title {
  color: #d5d5d5;
}

.completed {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: darken($mainWhite, 30%);
}

.percentage-circle {
  flex-basis: 40px;
  padding-right: 10px;
}
