@import '../../../styles/colors.scss';
@import '../../../styles/constants.scss';


.button {
  width: 100%;
  padding: 12px 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #00d7a1;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  &:hover {
    background: darken(#00d7a1, 10%);
  }
}

.button.widthAuto {
  width: auto;
}